<div class="post_wrapper">
  <div class="profile_image">
    <%= image_tag("profile.png", size: "116")%>
  </div>
  <div id="content">
  <h1>Hi, im praaveen</h1>
  <p>Ruby on Rails developer, love to do some innovative product.</p>
  <p>If you'd like to follow along as I learn more Ruby on Rails, find me on <a href="http://praaveenvr.blogspot.in/"><span  style="color:blue;">Blogger</span></a></p>
  </div>
</div>
